
# https://aka.ms/yaml

name: $(BuildID)

trigger:
- main

variables:
  Configuration: Release
  BootsVersion: 1.0.4
  BootsSuffix: ''
  PackageVersion: $(BootsVersion).$(Build.BuildNumber)$(BootsSuffix)
  XA.Version: 11.2
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true

jobs:

- job: windows
  pool:
    vmImage: windows-latest
    demands: msbuild
  steps:

  - template: scripts/build-and-test.yaml
    parameters:
      platform: windows

  - powershell: dotnet cake
    displayName: Cake test
    workingDirectory: Cake.Boots

- job: mac
  pool:
    vmImage: macOS-latest
    demands: msbuild
  steps:

  - template: scripts/build-and-test.yaml
    parameters:
      platform: mac

  - bash: dotnet cake --target=Mono && dotnet cake
    workingDirectory: Cake.Boots
    displayName: Cake test
