
# https://aka.ms/yaml

name: $(BuildID)

trigger:
- master

variables:
  Configuration: Release
  BootsVersion: 1.0.0
  BootsSuffix: ''
  PackageVersion: $(BootsVersion).$(Build.BuildNumber)$(BootsSuffix)
  Mono.Pkg: https://download.mono-project.com/archive/6.4.0/macos-10-universal/MonoFramework-MDK-6.4.0.189.macos10.xamarin.universal.pkg
  XA.Vsix: https://download.visualstudio.microsoft.com/download/pr/68e5a599-5d9b-4d59-b41a-8348d23faa73/abd0a8f9a6b6253facfaaa97e5e138509b004263134d310cc6d49c2f1ac734b9/Xamarin.Android.Sdk-10.0.0.40.vsix
  XA.Pkg: https://download.visualstudio.microsoft.com/download/pr/edd7782e-dc4f-4be5-9b55-8a51eeb7a718/ed8c238ec095b5d1051e2539cea38113/xamarin.android-10.0.0.40.pkg
  XA.Version: 10.0.0-40
  ShippedBoots: 1.0.0.291
  DotNetCoreVersion: 2.2.402
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true

jobs:

- job: windows
  pool:
    name: Hosted Windows 2019 with VS2019
    demands:
    - msbuild
  steps:

  - template: scripts/build-and-test.yaml
    parameters:
      platform: windows
      url: $(XA.Vsix)

  - powershell: .\build.ps1
    displayName: Cake test
    workingDirectory: Cake.Boots

- job: mac
  pool:
    name: Hosted macOS
    demands: msbuild
  steps:

  - task: UseDotNet@2
    displayName: install .NET Core
    inputs:
      version: $(DotNetCoreVersion)

  - script: |
      dotnet tool install --global boots --version $(ShippedBoots)
      boots install $(Mono.Pkg)
    displayName: install Mono

  - template: scripts/build-and-test.yaml
    parameters:
      platform: mac
      url: $(XA.Pkg)

  - bash: ./build.sh
    displayName: Cake test
    workingDirectory: Cake.Boots
