name: GitHub Actions

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
    paths:
    - '.github/**'

env:
  boots_version: 1.0.2.421

jobs:
  macOS:
    runs-on: macOS-latest
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 'true'
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '3.0.x'
    - name: build
      shell: bash
      run: |
        export PATH="$PATH:~/.dotnet/tools"
        dotnet tool install --global boots --version $boots_version
        boots --preview Mono
        boots --preview XamarinAndroid
        msbuild ./samples/HelloForms.Android/HelloForms.Android.csproj /restore /t:SignAndroidPackage

  windows:
    runs-on: windows-latest
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 'true'
    steps:
    - uses: actions/checkout@v1
    - uses: warrenbuckley/Setup-MSBuild@v1
    - name: build
      shell: pwsh
      run: |
        dotnet tool install --global boots --version $env:boots_version
        boots --preview XamarinAndroid
        msbuild ./samples/HelloForms.Android/HelloForms.Android.csproj /restore /t:SignAndroidPackage
