name: GitHub Actions

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  macOS:
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v1
    - name: build
      shell: bash
      run: |
        wget https://dot.net/v1/dotnet-install.sh
        sh dotnet-install.sh -Version 2.2.401 -Runtime dotnet
        export DOTNET_SKIP_FIRST_TIME_EXPERIENCE=true
        dotnet tool install --global boots
        boots https://download.mono-project.com/archive/6.0.0/macos-10-universal/MonoFramework-MDK-6.0.0.313.macos10.xamarin.universal.pkg
        boots https://aka.ms/xamarin-android-commercial-d16-3-macos
        msbuild ./samples/HelloForms.Android/HelloForms.Android.csproj /restore /t:SignAndroidPackage

  windows:
   runs-on: windows-latest
   steps:
   - uses: actions/checkout@v1
   - uses: warrenbuckley/Setup-MSBuild@v1
   - name: build
     shell: pwsh
     run: |
       $env:DOTNET_SKIP_FIRST_TIME_EXPERIENCE='true'
       dotnet tool install --global boots
       boots https://aka.ms/xamarin-android-commercial-d16-3-windows
       msbuild ./samples/HelloForms.Android/HelloForms.Android.csproj /restore /t:SignAndroidPackage
